
{:deps {thheller/shadow-cljs    {:mvn/version "2.0.115"}
        mvc-works/hsl           {:mvn/version "0.1.2"}
        mvc-works/shell-page    {:mvn/version "0.1.6"}
        mvc-works/verbosely     {:mvn/version "0.1.2"}
        respo/ui                {:mvn/version "0.2.2"}
        respo/reel              {:mvn/version "0.2.2"}
        mvc-works/keycode       {:mvn/version "0.1.3"}
        respo/value             {:mvn/version "0.2.3"}
        respo                   {:mvn/version "0.8.2"}}}
